<p id="notice"><%= notice %></p>

<h1>Listing Studentsqlis</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studentsqlis.each do |studentsqli| %>
      <tr>
        <td><%= studentsqli.name %></td>
        <td><%= studentsqli.age %></td>
        <td><%= link_to 'Show', studentsqli %></td>
        <td><%= link_to 'Edit', edit_studentsqli_path(studentsqli) %></td>
        <td><%= link_to 'Destroy', studentsqli, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studentsqli', new_studentsqli_path %>
