<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @studentsqli.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @studentsqli.age %>
</p>

<%= link_to 'Edit', edit_studentsqli_path(@studentsqli) %> |
<%= link_to 'Back', studentsqlis_path %>
